@font-face {
    font-family: myFont;
    src: url(img/CELTG___.TTF);
}

*{
    font-family: myFont;
}

.text-shadow {
    text-shadow: 2px 4px 4px rgba(255, 255, 255, 0.5); /* Define the drop shadow */
}

.btn {
    background: #002B59;
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
  
    text-decoration: none;
    width: 20vh;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
    overflow: hidden;
    transition-delay: 0s !important;
    text-transform: uppercase !important;
    letter-spacing: 2px;
  }
  .btn::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #EAD000;
    z-index: -1;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .btn:hover::before {
    width: 100%;
    left: 0;
    right: unset;
  }
  .btn:hover {
    box-shadow: 0 0 #ffe00b, 0 0 #151515;
    color: white;
  }